*{
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigContainer{
  width: 95%;
  height: 70%;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  border: 20px solid rgb(221, 221, 221) ;
  width: 90%;
  height: 90%;
  background: rgb(46, 35, 35);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  font-size: 30px;
}


.modal{
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(0, 0, 0,0.1);
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}
.modal >div{
  width: 100%;
  text-align: right;
}
.modal >div span{
  color:  red;
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}


form{
  border-radius: 10px;
  width: 80%;
  height: 300px;
  background: #fff;
  font-size: 17px;
  margin-bottom: 30%;
}
form div{
  width: 80%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

form div button{
  border:none;
  font-size: 17px;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
form div button[type='reset']{
  background-color: tomato;
}

form div button[type='submit']{
  background-color: rgb(18, 208, 18);
}


form div button[type='submit']:disabled{
  background: rgb(111, 107, 107);
}

form div input{
  width: 50%;

  outline: none;
}

.container > button{

  height: 40px;
  margin: 0 20%;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgb(255, 160, 160);
}